.actions {
  height: 50px;
  display: flex;

  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    &--btn-search {
      margin-right: 8px;
    }
  }
}
 
.bold {
  font-weight: bold;
  font-size: 20px;
}

.green {
  color: green;
}